body {
    margin: 0;
    background-color: #000;
  }
  
  .titulo-1 {
    font-family: 'Righteous', cursive;    
    text-align: center;
    font-size: 5vh;  
    color: #E0FFFF;
  }

  
  .movil { 
    width: 90%;
  }

  .movil2 { 
    /* height: 50%; */
    width: 25%;
  }
  
  
  .subTitulo {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
  }

  .pepito { 
    width: 100%;
  }

  
  
  .jumbotron { 
    background-image: url("./bg/banner.jpg");
   /* background-image: image(./assets/img/interfaz/banner.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% 75%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #000;
    border-radius: 5%; 
    padding: 2rem 1rem;
    margin-bottom: 2rem;   
    
  }
  .fondo-claro {
    background-color: rgba( 0,0,0,0.8 );
    padding: 1em;
  }

  .img-1 {
    height: 32px;
    width: auto;
    margin:0.5em;
  }

  .img-2 {
    height: 32px;
    width: auto;
    margin:0.5em;
    box-align: left;
  }


  .modal-content {
    background-color: #000000;
  }

  .pie {
    color: #fff;
    }


    .acerca {
      height: 50px;
      width: auto;
      }


      .encuesta {
        height: 70px;
        width: 70px;
        }

      .infoen
      {
        color: #EDEDED;
        font-weight: bold;
        background-color: #484C4C;
        font-size: 0.7em;
      }


  .nota {
    color: rgb(232, 240, 160);
  }

  .enlaceAqui
  {
    color: rgb(232, 240, 160);
  }